langchain>=0.1.7
langchain-core>=0.1.8
langchain-community>=0.0.10
langchain-anthropic>=0.3.1
langchain-postgres>=0.0.12
langchain-openai>=0.2.14
langgraph>=0.0.10
anthropic>=0.7.0
openai>=1.59.5
python-dotenv==1.0.0
psycopg[binary]>=3.1.12
unstructured>=0.10.30
pandas>=2.1.4
openpyxl>=3.1.2
rich>=13.9.4
networkx
sqlalchemy>=2.0.0